*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color: lightgrey;
}

section{
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 1.5em;
    padding: 1em;
}

h1 {
    color: #4682B4;
    border-bottom: 1px solid white;
    width: 100%;
    text-align: center;
}

.ie::before {
    content: url("img/images/ie.png");
}

.ie::after{
    content: attr(title);
    color: rgb(255, 81, 0);
}

.chrome::before {
    content: url("img/images/chrome.png");
}

.chrome::after {
    content: attr(title);
    color: rgb(255, 81, 0);
}

.firefox::before {
    content: url("img/images/firefox.png");
}

.firefox::after {
    content: attr(title);
    color: rgb(255, 81, 0);
}

