*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: .5em;
}

ul {
    list-style: none;
    display: flex;
    gap: 1em;
}

a{
    text-decoration: none;
    color: lightgrey;
    text-transform: uppercase;
}

.lang {
    display: flex;
    gap: 1em;
}

.lang_it {
    background-color: grey;
    text-align: center;
    width: 3em;
    padding: 1em 0;
}

.lang_it a {
    color: white;
}